* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}

/* 헤더시작 */
header {
  width: 100%;
  height: 50px;
  position: fixed;

  overflow: hidden;
}
header > #h_inner {
  margin: 0 40px;
  height: 50px;
}
#h_inner > h1 {
  width: 150px;

  text-indent: -9999px;

  position: absolute;
  top: 12px;
}
#h_nav {
  width: 700px;
  margin: 0 auto;
  height: 50px;
  overflow: hidden;
}
#h_nav > ul {
  position: relative;
  top: 22px;
  overflow: hidden;
}
#h_nav > ul > li {
  float: left;
  margin-left: 60px;
  color: black;
}
#last {
  width: 100px;
  position: absolute;
  right: 20px;
  top: 22px;
}
/* 헤더끝 */

/* 본문시작 */

contents {
  width: 100%;
  overflow: hidden;
}
#Top_main {
  width: 100%;

  border-bottom: 1px solid #e6e8ea;
}
#Top_inner {
  overflow: hidden;
  width: 1200px;
  margin: 0 auto;
  height: 400px;
  text-align: left;
}
#Top_inner > span,
h1 {
  position: relative;
  top: 150px;
}
#Top_inner > span {
  font-weight: bold;
  color: blue;
}
#Top_inner > h1 {
  padding-top: 25px;
  font-size: 40px;
  font-weight: bolder;
}
#nav {
  width: 100%;

  background-color: white;
}
#nav_inner {
  width: 1200px;
  height: 70px;
  overflow: hidden;
  margin: 0 auto;
}
#content_nav {
  float: left;
}
#content_nav > ul {
  display: inline-block;
}
#content_nav > ul > li {
  float: left;
  height: 47px;
  margin-right: 50px;
  font-size: 16px;
  position: relative;
  top: 22px;
}
#content_nav > ul > .on {
  border-bottom: 1px solid black;
}
#content_nav2 {
  float: right;
  position: relative;
  top: 23px;
  font-size: 11px;
}
#content_nav2 > p > span {
  margin: 0 20px;
}

#top {
  background-size: cover;
  width: 100%;
  height: 400px;
}
#top_inner {
  width: 1200px;
  margin: 0 auto;
}
#boxing {
  width: 1200px;
  margin: 0 auto;
}
#boxing > #box {
  margin-top: 70px;
  width: 1200px;
  height: 300px;
}
#box > #l_box {
  float: left;
  width: 350px;
  height: 200px;
}
#l_box > h1 {
  position: relative;
  top: 0;
  font-size: 46px;
}
#l_box > h1 > span {
  font-size: 20px;
  color: #2b66f6;
  font-weight: 400;
  position: absolute;
  top: 0;
}
#box > #r_box {
  float: left;
  position: relative;
  top: 120px;
  font-size: 21px;
  font-weight: 400;
  margin-left: 200px;
}

#imges {
  width: 1200px;
  margin: 100px auto;
}
#imges_text_box {
  display: flex;
  justify-content: space-between;
}
#ul_box {
  margin-top: 80px;
}
#ul_box > h2 {
  margin-bottom: 20px;
}
#ul_box > ul > li {
  font-size: 16px;
  margin-bottom: 5px;
}
#outro {
  width: 100%;
  background-color: #00856d;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  text-align: center;
}

#out_inner > p:nth-child(1) {
  font-size: 17px;
}
#out_inner > p:nth-child(2) {
  font-size: 32px;
}
#out_inner > p:nth-child(2) > span {
  color: #ffdd64;
}

/* 채용 공고 시작 */
#inner {
  width: 1200px;
  margin: 50px auto;
}
#choice {
  width: 100%;
  display: inline-block;
}
#choice > #title {
  position: relative;
  top: 0;
}
#choice > #selec {
  float: right;
  height: 40px;
  border: 1px solid #e6e8ea;
  border-radius: 8px;
  padding-left: 13px;
  margin-right: 15px;
}
#choice > input {
  float: right;
  width: 270px;
  height: 40px;
  border: 1px solid #e6e8ea;
  border-radius: 8px;
  padding-left: 39px;
  margin-right: 7px;
}
table {
  width: inherit;
  border-collapse: collapse;
  margin: 25px 0 50px;
}
thead,
tr {
  border-bottom: 1px solid #e6e8ea;
  padding: 17px 10px;
}
thead > tr > th {
  padding: 17px 10px;
}
thead > tr > th:nth-child(1) {
  width: 65%;
  text-align: left;
}
thead > tr > th:nth-child(2) {
  width: 10%;
}
thead > tr > th:nth-child(3) {
  width: 25%;
}
tbody > tr > td {
  font-weight: 400;
  color: #43454d;
  border-bottom: 1px solid #e6e8ea;
  padding: 17px 10px;
}
tbody > tr > td:nth-child(1) {
  text-align: left;
}
tbody > tr > td:nth-child(2) {
  text-align: center;
}
tbody > tr > td:nth-child(3) {
  text-align: center;
  color: #7d8893;
}
#prev_next {
  display: flex;
  justify-content: center;
  font-weight: bold;
}
#prev_next > p {
  padding: 0 20px;
}
/* 채용 공고 끝 */

/* 지원시작 */
#inner_form {
  text-align: center;
  margin: 150px auto;
}
#inner_form > #text > p:nth-child(1) {
  font-size: 32px;
  font-weight: bold;
}
#inner_form > #text > p:nth-child(2) {
  font-size: 16px;
}
#inner_form > #text > p:nth-child(2) > span {
  color: #ff8a33;
}
form {
  margin-top: 70px;
  width: 517px;
  margin: 70px auto 0;
}
form > p {
  text-align: left;
  margin-bottom: 10px;
  font-size: 15px;
  color: #555555;
  font-weight: 400;
  padding-top: 20px;
}

form > input {
  width: 100%;
  height: 45px;
  border-radius: 12px;
  border: 1px solid #e6e8ea;
}
form > #submit {
  margin-top: 50px;
}

#submit > input {
  width: 90px;
  height: 45px;
  border-radius: 10px;
  border: none;
  font-weight: bold;
}
/* 지원끝 */

/* 본문끝 */

/* footer시작 */
footer {
  width: 100%;
  height: 350px;
  overflow: hidden;
  background: #f4f4f5;
  color: #555;
}
#f_inner {
  width: 1200px;
  margin: 50px auto 84px auto;
}
#f_nav {
  width: 600px;
  height: 20px;
  overflow: hidden;
}
#f_nav > ul > li {
  float: left;
  margin-left: 10px;
}
#f_nav > ul > li:first-child {
  margin-left: 0;
}
#company {
  width: 600px;
  font-size: 12px;
}
#company > #img {
  text-indent: -9999px;
  margin: 40px 0 20px 0;
  height: 13px;
  opacity: 0.6;
}
#sns {
  margin-top: 34px;
}
#sns > ul {
  width: 430px;
  display: inline-block;
}
#sns > ul > li {
  float: left;
  text-indent: -9999px;
  width: 36px;
  height: 36px;
  margin-left: 10px;
}

#familySite {
  position: relative;
  left: 900px;
  top: -200px;
  width: 310px;
}
#familySite > ul {
  margin-top: 15px;
}
#familySite > ul > li {
  float: left;
  width: 50%;
  margin-top: 10px;
  font-size: 14px;
}
/* footer끝 */
